setupenv.sh
build
doc/local
download
install
LOGS
staging
*~
my*.ui
*.pyc
*.idea
*__pycache__
.project
.pydevproject
localsetup.*sh
.directory
!src/gui/runs.ui
!src/gui/solps.ui
!src/gui/preferences.ui
